@chanset"UTF-8";

body
{
background-color: #FFCF96;
color: red;
font-size: 12pt
}

h1#principal {
font-size: 30 pt;
font-family: Arial;
color: blue;
}

h1#secundario {
font-size: 20 pt;
font-family: Arial;
color: red;
}

.intermediario {
font-size: 15 pt;
font-family: Time News Roman;
color: black;
}
